body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: var(--body-backgroun-color);
}

::placeholder {
  font-size: 16px;
  color: var(--gray-text-color);
  font-size: 16px;
  line-height: 22px;
}
