:root {
  scroll-behavior: smooth;

  --primary-header-color: #F22539;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #D42536;
  --gray-text-color: #BFBFBF;
  --dark-text-color: #353535;
  --yellow-background-color: #FBFFB1;
  --green-background-color: #47DB9D;
  --black-text-color: #353535;
  --lightgray-background-color: #F5F5F5;

  --container-max-width: 1024px;
  --container-padding: 1rem;
}
